label {
	display:inline-block;
	width:150px;
	text-align:right;
}
#lvlbutton {
	height:80px;
	width:224px;
	border:3px solid #340053;
}
.locked {
	-webkit-filter: grayscale(100%);
	pointer-events:none;
	cursor: not-allowed;
}
div {
	margin-top:20px;
	margin-bottom:20px;
}
#mainbox {
	max-width:800px;
	min-width:600px;
	border: 3px solid LightGray;
	background-color: rgba(250,250,250,0.7);
}
#timebutton {
	height:72px;
	width:72px;
	margin-left: 2px;
	margin-right: 2px;
}
h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}
#note {
	font-size: 14px;
}