.top-bottom-space {
    margin-top: 20px;
    margin-bottom: 20px;
}
	
footer {
	margin-top: 220px;
}

body {
	background-image: url(../images/altbg.png);
	background-color: black;
}

#mainbox {
	min-width: 1000px;
	max-width: 1100px;
	border: 3px solid LightGray;
	background-color: rgba(250,250,250,0.7);
}

#pet-banner {
	margin-left: 10px;
	margin-right: 10px;
}

.shadow {
	text-shadow: 2px 1px #444;
}

#main_header {
	max-width: 1800px;
	margin-top: 20px;
	margin-bottom: 20px;
}

h1 {
	font-size: 400%
}

.input_margin {
	margin: 10px;
}

.cute_img {
	margin: 20px;
}

div {
	font-size: 18px;
}

.disabled {
	opacity: 0.5;
}